@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-display: "Orbitron", sans-serif;
}

html, body {
  background-color: #0E0C16;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overscroll-behavior-y: none;
}

#root {
  min-height: 100vh;
}