@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-display: "Orbitron", sans-serif;
}

html, body {
  background-color: #0E0C16; 
  
  margin: 0;
  padding: 0;
  
  width: 100%;
  min-height: 100%;
  overscroll-behavior-y: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}